# PyCharm specific files
.idea/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/
.env/
# You can specify the name of your venv folder here if it's different

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
